﻿@model IEnumerable<BookTechSite.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Books (@ViewBag.CountOfBooks)</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Title</th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td><a href="/Books/@item.BookID">@item.Title</a></td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookID })
        </td>
    </tr>
}

</table>
