﻿@model BookTechSite.Models.AuthorBooksViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Model.FirstName @Model.LastName</h2>

<div>
    <dl class="dl-horizontal">
        <dt>Book Sales To Confirm</dt>
        <dd>3</dd>

        <dt></dt>
        <dd></dd>
    </dl>
    <p>
        <label for="check">I confirm these are valid Sales and the Author will now be paid</label>
        <input type="checkbox" id="check"/>
    </p>
    <form method="post" action="/Authors/Details/@Model.AuthorID">
        @Html.HiddenFor(model => model.AuthorID)
        <input type="submit" value="Authorise Payment" autofocus=""/>
    </form>

    <br />
    <div>
        <p>
            @Html.ActionLink("Edit Author", "Edit", new { id = Model.AuthorID }) |
            @Html.ActionLink("Delete Author", "Delete", new { id = Model.AuthorID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>

</div>
<br/>
<h2>Books</h2>
<div>
    <table class="table">
        <tr>
            <th>Title</th>
        </tr>
        @foreach (var book in @Model.Books)
        {
            <tr>
                <td><a href="/Books/@book.BookID">@book.Title</a></td>
            </tr>
        }
    </table>
    <a href="/Books/Create?authorID=@Model.AuthorID">Add new Book for @Model.FirstName @Model.LastName</a>
</div>
