﻿@model IEnumerable<BookTechSite.Models.AuthorBooksViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Authors (@ViewBag.CountOfAuthors)</h2>

@*Use a Get request so someone can easily copy the URL and email*@
<form method="get" action="Authors/Search">
    <input type="search" name="lastName" autofocus="" />
    <input type="submit" value="Search LastName" />
</form>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Book Sales To Confirm</th>
        <th>Total Book Sales</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td><a href="/Authors/@item.AuthorID">@item.FirstName @item.LastName</a></td>
            <td></td> @*placeholder for book title below*@
            <td>3</td>
            <td>6</td>
        </tr>
        <!-- The books they have Authored-->
        foreach (var book in @item.Books)
        {
            <tr>
                <td></td>
                <td><a href="/Books/@book.BookID">@book.Title</a></td>
            </tr>
        }
    }
</table>
1
