﻿@model IEnumerable<BookTechSite.Models.Author>

@{
    ViewBag.Title = "Search";
}

<h2>Search Results</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AuthorID }) |
                @Html.ActionLink("Details", "Details", new { id = item.AuthorID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AuthorID })
            </td>
        </tr>
    }

</table>
<div>

@if (Request.UrlReferrer != null)
{
    <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a> @:|
}

@Html.ActionLink("Blank Search", "Index")
</div>
