﻿@{
    ViewBag.Title = "Index";
}
<h1 class="text-danger">Global Top Level Exception Error.</h1>
<p>The error has been logged via global.asax</p>

<h2>Exception</h2>
<p>@ViewBag.ExceptionMessage</p>

<h2>URL</h2>
<p>@ViewBag.RawURL</p>

<h2>Inner Exception</h2>
<p>@ViewBag.InnerExceptionMessage</p>


<h2>Stacktrace</h2>
<p>@ViewBag.Stacktrace</p>